.tab-nav-item {
  flex: 1;
  text-align: center;
}

.tab-nav-item .nav-link {
  color: #000000;
  background-color: white;
  border: none;
  font-weight: 600;
  border-radius: 0;
}

.tab-nav-item .nav-link.active {
  color: white;
  background-color: #11cdef;
}

.formcard {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  margin: 10px;
  padding: 10px;
}

.cardt {
  font-weight: 600;
  color: #0ba9c5;
}

.maincard {
  margin: 10px;
  padding: 10px;
}

@media (max-width: 410px) {
  .maincard {
    margin: 0px;
    padding: 0px;
  }
}

.mybutton {
  border-radius: 30px;
}

.video-container {
  width: 100%;
  height: 330px;
  background-color: white; 
  overflow: hidden; 
}

.video-container video {
  width: 100%;
  height: 100%;

}

@media (max-width: 410px) {
  .video-container {
    height: 240px;
   
  }
}


.clickable-card{
  margin: 5px;
  cursor: pointer;
}
