
  .success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .success-gif {
    width: 100px;
    height: 100px;
  }
  
  .center-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px; /* Reduced spacing below the image */
  }
  
  .receipt-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* Reduced spacing below the text */
  }
  
  .receipt-description p {
    font-size: 12px; 
    margin: 1px 0; 
    line-height: 1.1; 
    color: #555;
  }
  
  .receipt-item p {
    font-size: 12px; 
    margin: 1px 0; 
    line-height: 1.1; 
    white-space: nowrap; 
  }
  
  
  
  .receipt-title {
    font-size: 14px; 
    margin: 10px 0; 
    text-align: center;
    border-bottom: 1px solid #000; 
    padding-bottom: 5px; 
  }
  
  .receipt-item p {
    font-size: 12px;
    margin: 1px 0;
    line-height: 1.1;
    white-space: nowrap;
    position: relative; 
  }
  
  .receipt-item p:last-of-type {
    padding-bottom: 10px; 
    border-bottom: 1px solid #000; 
  }
  
  .receipt-footer {
    font-size: 5px; 
    line-height: 1.1; 
    color: #555;
    font-family: Arial,
  }
  